# Cluster role for the operator itself.
# TODO: A lot of these should be replaced by roles in the namespaces for which
# the operator actually needs access.
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: openshift-ingress-operator
  annotations:
    capability.openshift.io/name: Ingress
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - namespaces
  - serviceaccounts
  - endpoints
  - services
  - secrets
  - pods
  - events
  verbs:
  - "*"

- apiGroups:
  - ""
  resources:
  - pods/eviction
  verbs:
  - "create"

- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch

- apiGroups:
  - ""
  resources:
  - services/status
  - replicationcontrollers
  verbs:
  - "*"

- apiGroups:
  - apps
  resources:
  - deployments
  - daemonsets
  - replicasets
  verbs:
  - "*"

- apiGroups:
  - autoscaling
  resources:
  - horizontalpodautoscalers
  verbs:
  - "*"

- apiGroups:
  - policy
  resources:
  - poddisruptionbudgets
  verbs:
  - "*"

- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - create
  - get
  - update

- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterroles
  - clusterrolebindings
  - roles
  - rolebindings
  verbs:
  - "*"

- apiGroups:
  - operator.openshift.io
  resources:
  - ingresscontrollers
  - ingresscontrollers/status
  verbs:
  - "*"

- apiGroups:
  - ingress.operator.openshift.io
  resources:
  - dnsrecords
  - dnsrecords/status
  verbs:
  - "*"

- apiGroups:
  - config.openshift.io
  resources:
  - infrastructures
  - ingresses
  - dnses
  - featuregates
  - apiservers
  - networks
  - clusterversions
  - proxies
  verbs:
  - get
  - list
  - watch

- apiGroups:
  - config.openshift.io
  resources:
  - dnses
  - featuregates
  - infrastructures
  - ingresses
  verbs:
  - list
  - watch

- apiGroups:
  - config.openshift.io
  resources:
  - infrastructures/status
  verbs:
  - update

- apiGroups:
  - config.openshift.io
  resources:
  - clusteroperators
  verbs:
  - create
  - get
  - list
  - watch

- apiGroups:
  - config.openshift.io
  resources:
  - clusteroperators/status
  verbs:
  - update

- apiGroups:
  - config.openshift.io
  resources:
  - ingresses/status
  verbs:
  - patch

- apiGroups:
  - networking.k8s.io
  resources:
  - ingressclasses
  verbs:
  - '*'

- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - '*'

- apiGroups:
  - operators.coreos.com
  resources:
  - subscriptions
  - installplans
  verbs:
  - '*'

- apiGroups:
  - sailoperator.io
  resources:
  - istios
  - istiorevisions
  verbs:
  - '*'

# Mirrored from assets/router/metrics/cluster-role.yaml
- apiGroups:
  - route.openshift.io
  resources:
  - routers/metrics
  verbs:
  - get

# Mirrored from assets/router/cluster-role.yaml
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create

# Mirrored from assets/router/cluster-role.yaml
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create

# Mirrored from assets/router/cluster-role.yaml
# and expanded for the canary-controller.
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  - routes/custom-host
  verbs:
  - '*'

# Mirrored from assets/router/cluster-role.yaml
- apiGroups:
  - route.openshift.io
  resources:
  - routes/status
  verbs:
  - update

# Mirrored from assets/router/cluster-role.yaml
- apiGroups:
  - security.openshift.io
  resources:
  - securitycontextconstraints
  verbs:
  - use
  resourceNames:
  - hostnetwork
  - restricted

# Mirrored from assets/router/cluster-role.yaml
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices
  verbs:
  - get
  - list
  - watch

# Required for Istio installation via Helm
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  - validatingwebhookconfigurations
  verbs:
  - "*"

- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch

- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  - ingresses/status
  verbs:
  - "*"

- apiGroups:
  - authentication.istio.io
  - config.istio.io
  - extensions.istio.io
  - networking.istio.io
  - rbac.istio.io
  - security.istio.io
  - telemetry.istio.io
  resources:
  - "*"
  verbs:
  - "*"

- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - "*"
  verbs:
  - "*"

- apiGroups:
  - gateway.networking.x-k8s.io
  resources:
  - "*"
  verbs:
  - "*"

- apiGroups:
  - networking.x-k8s.io
  resources:
  - gateways
  verbs:
  - get
  - list
  - watch

- apiGroups:
  - multicluster.x-k8s.io
  resources:
  - serviceexports
  - serviceimports
  verbs:
  - get
  - list
  - watch
  - create
  - delete

- apiGroups:
  - inference.networking.x-k8s.io
  resources:
  - inferencepools
  - inferencepools/status
  verbs:
  - get
  - list
  - watch
  - update
  - patch
